

a.boton-login {
	color: #9d9d9d;
	font-size: 11px;
	font-weight:700;
	background: none !important;
}

a.boton-login:hover {
	transition-property: all;
	transition-duration: 0.5s;
	transition-timing-function: ease;
	transition-delay: 0s; 
	font-size: 13px;
}


.obligatorio {
	color:red;
	font-size: large;
}

span.avisos{
	display: none;
}

form.listado{
	display: grid;
}
/*
td {
	text-align: center;
}*/